<div class='content'>
<ul>
<li class='title'><%= link_to 'fwb-game.com', root_url %></li>
<li> :: </li>
<!--
<li><%= link_to 'About', about_path %></li>
<li> :: </li>
-->
<li><%= link_to 'FAQ', faq_path %></li>
<li> :: </li>
<li><%= link_to 'Terms of Service', tos_path %></li>
<li> :: </li>
<li><%= link_to 'Privacy Policy', pp_path %></li>
<li> :: </li>
<li><%= link_to 'Disclaimer', disclaimer_path %></li>
</ul>
</div>
