	
	<div class='header'>
		<div class='title'>
			Your Friends with Benefits
		</div>

		<div id='keys'>
			<div class='keys-count'>						
				<%= image_tag 'key.png'%>
				<div class='count'>				
					<%= @keys %>
				</div>
			</div>
			<%= link_to "What's this?", '#', :id => 'what-are-keys-link' %>

			<div class='purchase-keys-btn'>
				<%= link_to 'Purchase Keys', '#', :id => 'purchase-link' %>
			</div>
		</div>
	</div> 

	<div class='inner'>
	<% if @targets.empty? %>
		<div class='no-match'>You don't have any Friends with Benefits yet.</div>

	<% else %>
		<% @targets.first(current_hunter.keys).each do |target| %> 
			<div class='<%= @class %>'>
				<a href = '#' class='<%= @class %> <%= target.target_id %>' id = '<%= target.target_id %>'>
					<%= image_tag "http://graph.facebook.com/#{target.target_id.to_s}/picture" %>
					<span class='name'>
						<%= target.name %>
						<span class='mark'>
						</span>
					</span>
				</a>
			</div>
		<% end %>
		<% (@targets.count - current_hunter.keys).times do %>
			<div class='<%= @class %> unrevealed'>
					<%= image_tag "logo-question-m-red.png", :id => 'logo-question' %>
					<p>Waiting to be unlocked</p>

			</div>
		<% end %>
		<% if current_hunter.keys < @targets.count %>
		</div>
	
			<div id='matches-waiting'>
				You have <%= pluralize( @targets.count - current_hunter.keys , 'friend') %> with benefits waiting for you!&nbsp;&nbsp;Purchase more keys to unlock them.
			</div>


		<% end %>

	<% end %>

