	
	<div class='header'>
		<div class='title'>
			Your Friends with Benefits
		</div>

		<div id='keys'>

			<div class='purchase-keys-btn'>
				<%= link_to 'Purchase Keys', '#', :id => 'purchase-link' %>
			</div>


			<div class='keys-count'>						
				<%= image_tag 'key.png', :alt => 'Number of Keys left'%>
				<div class='count'>			
					<% if @keys>@count %>
						<%= (@keys-@count).to_s %>
					<% else %>
						<%= '0' %>
					<% end %>	
					<%#= (@keys>@count)?(@keys-@count):'0' %>
				</div>
			</div>
	
			<!--

				<%= link_to "What's this?", '#', :id => 'what-are-keys-link' %>
			
			-->


		</div>
	</div> 

	<div class='inner'>
		<% if @targets.empty? %>
			<div class='no-match'>You don't have any FWBs yet.</div>

		<% else %>
			<% @targets.first(@keys).each do |target| %> 
				<div class='<%= @class %>'>
					<a href = '#' class='<%= @class %> <%= target.target_id %>' id = '<%= target.target_id %>'>
						<%= image_tag "http://graph.facebook.com/#{target.target_id.to_s}/picture" %>
						<span class='name'>
							<%= target.name %>
							<span class='mark'>
							</span>
						</span>
					</a>
				</div>
			<% end %>
			<% (@count - @keys).times do %>
				<div class='<%= @class %> unrevealed'>
						<%= image_tag "logo-question-6.png", :id => 'logo-question' %>
						<p>Waiting to be unlocked</p>

				</div>
			<% end %>
			<% if @keys < @count %>
			</div>
	
			<div id='matches-waiting'>
				You have <%= pluralize( @count - @keys , 'FWB') %> waiting for you!&nbsp;&nbsp;Purchase more keys to unlock them.
			</div>


		<% end %>

	<% end %>

