

<% if @class == 'target' %>

<!--
<h4> My Wait List: (<a href='http://www.facebook.com/dialog/feed?app_id=195039077183959&link=http://localhost:3000&picture=http://fbrell.com/f8.jpg&name=Facebook%20Dialogs&caption=Reference%20Documentation&description=Dialogs%20provide%20a%20simple,%20consistent%20interface%20for%20applications%20to%20interact%20with%20users.&redirect_uri=http://localhost:3000'>Share</a> this app with them to find out if they think the same about you!) </h4>
-->

<% else %>

<h4>My Friends with Benefits</h4>

<% end %>

 <% @targets.each do |target| %> 

	<div class='<%= @class %>'><a href = '#' class='<%= @class %> <%= target.target_id %>' id = '<%= target.target_id %>'><%= image_tag "http://graph.facebook.com/#{target.target_id.to_s}/picture" %><span class='name'><%= target.name %><span class='mark'></span></span></a></div>


<% end %>


