

<%# if @class == 'target' %>

<!--
<h4> My Wait List: (<a href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://fbrell.com/f8.jpg&name=Facebook%20Dialogs&caption=Reference%20Documentation&description=Dialogs%20provide%20a%20simple,%20consistent%20interface%20for%20applications%20to%20interact%20with%20users.&redirect_uri=http://friends-with-benefits.me'>Share</a> this app with them to find out if they think the same about you!) </h4>
-->


<%# end %>

<% if @class == 'match' %>
	<% if @targets.empty? %>
		<div class='no-match'>You don't have any Friends with Benefits yet.</div>

	<% else %>
		<% @targets.first(current_hunter.reveals).each do |target| %> 
			<div class='<%= @class %>'>
				<a href = '#' class='<%= @class %> <%= target.target_id %>' id = '<%= target.target_id %>'>
					<%= image_tag "http://graph.facebook.com/#{target.target_id.to_s}/picture" %>
					<span class='name'>
						<%= target.name %>
						<span class='mark'>
						</span>
					</span>
				</a>
			</div>
		<% end %>
		<% (@targets.count - current_hunter.reveals).times do %>
			<div class='<%= @class %>'>
				<a href = '#' class='<%= @class %> unrevealed' id = 'unrevealed'>
					<%= image_tag "/images/favicon.png" %>
				</a>
			</div>
		<% end %>
	<% end %>
	
<% else %>

	<% @targets.each do |target| %> 
		<div class='<%= @class %>'>
			<a href = '#' class='<%= @class %> <%= target.target_id %>' id = '<%= target.target_id %>'>
				<%= image_tag "http://graph.facebook.com/#{target.target_id.to_s}/picture" %>
				<span class='name'>
					<%= target.name %>
					<span class='mark'>
					</span>
				</span>
			</a>
		</div>
	<% end %>

<% end %>

