	<div id='curtain'>
	</div>

	<div id='content'>

		<% if !signed_in? %>
			<div id = 'landing'>
				<div id='tagline'>
					Find out which of your friends wants you to be more than just a friend!
				</div>
				<div class='content'>
					<div class='img'>
						<%= image_tag 'fwb-logo-red.png', :width => '360'%>
					</div>
					<div id = 'how-it-works-landing'>
						<div class='title'>
							How It Works:
						</div>	
						<ol>
							<li> <fb:login-button perms="email, offline_access">Connect To Facebook</fb:login-button></li>
							<li>Pick friends in your network whom you'd be interested in being 'friends with benefits' with.</li>
							<li>If a friend picks you back, we will send you both an email.  Your picks will never be revealed otherwise.</li>
						</ol>
					</div>
				</div>
			</div>


		<% else %>
			<div id='how-it-works'>
				<div class='content'>
					<div class='title'>
						How It Works
					</div>
					<ol>
						<li>Pick friends whom you'd be interested in being 'friends with benefits' with.</li>
						<li>If you and a friend picked each other, an email notification will be sent to the both of you.</li>
						<li>No picks are shared unless a friend picks you back - choose in secret.</li>
					</ol>
				</div>		
			</div>


			<div id='matches'>
				<div class='title'>
					My Friends with Benefits
				</div>
				
				<div class='reveals'>
					<% if @matches %>
					<div class='matches-count'>
						You have <%= pluralize(@matches, 'match') %>.
					</div>
					<% end %>
					<%# link_to 'Purchase Reveal', 'http://www.facebook.com/dialog/pay?app_id='+APP_ID+'&redirect_uri=http://friends-with-benefits.me/fb/callback&credits_purchase=false&order_info=1' %>
				</div>	

				<div class='content'>
				</div>

				<%= image_tag 'fwb-logo-l.png', :id => 'matches-logo' %>
			</div>

			<div id='invites'>
			
				<% invite_btn = image_tag 'invite-btn.png' %>
				<%= link_to invite_btn, '#', :id => 'invite-btn' %>
				<div class='invites-count'>You have <span class='invites-left'><%= pluralize(@invites, 'anonymous invite')%></span> left.</div>
				<%= link_to 'What are Invites?', '#', :id => 'what-are-invites' %>
			</div>

			




			<div id='invite-form'>
				<div id='invite-handle'>
					<a href='#' id='invite-close'>[x]</a>
				</div>
				<div id='invite-content'>
					<%= form_tag invite_path, :remote => true do %>
						<h4>Invite a friend! Send an email to your friend through our app and remain anonymous.</h4>

						<%= label_tag :name%><br />
						<%= text_field_tag :name %><br />

						<%= label_tag :email %><br />
						<%= text_field_tag :email %><br />

						<%= submit_tag 'Send', :id => 'invite-btn-submit'%>
					<% end %>
				</div>
			</div>


			<div class='highlight'>
			</div>

			<div class='friends-header'>
				<span>Show:</span>
				<a href='#' class='show-all-btn'>All Friends</a>
				<span> | </span>
				<a href='#' class='show-selected-btn'>Picks</a>	
				<% fb_share2 = image_tag 'fb_share2.png', :width => '200', :id => 'fb-share2' %>	
				<span class='fb-share2'><a href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://friends-with-benefits.me/images/fwb-icon.png&name=Friends%20with%20Benefits&caption=Friends-with-Benefits.me&description=Find%20out%20which%20of%20your%20friends%20wants%20you%20to%20be%20more%20than%20just%20a%20friend!&redirect_uri=http://friends-with-benefits.me'>Share this app</a> with your friends to see if they pick you back!</span>
			</div>
		
			<div id='friends'>
			</div>

			<div id='targets'>
			</div>

			<div class='spacer'>
			</div>

		<% end %>
	</div>


