

		<% if !signed_in? %>
			<div id = 'landing'>
				<!--<div id='tagline'>
					Some friends are more than just friends.
				</div>-->
				<div class='content'>

					<a href='http://fwb-movie.com/' target= '_blank'>
						<div id='trailer-link'>
							<p>Watch the Offical<br/>FWB Movie Trailer</p>
						</div>
					</a>

					<div id='landing-logo-wrapper'>
						<%= image_tag 'landing-logo.png', :id => 'landing-logo' %>
					</div>

					<div id ='fb-login-wrapper'>
						<fb:login-button perms="email" size ='xlarge'>Play</fb:login-button>
					</div>

<!--					
					<div class='img'>
						<%# image_tag 'fwb-logo-red.png', :width => '360'%>
					</div>

-->	
<!--
					<div id = 'how-it-works-landing'>
						<div class='title'>
							How It Works:
						</div>	


						<ol>
							
							<li> <fb:login-button perms="email">Connect To Facebook</fb:login-button></li>
							<li>Pick friends in your network whom you'd be interested in being 'friends with benefits' with</li>
							<li>If a friend picks you back, we will send you both an email.  Your picks will never be revealed otherwise</li>
						</ol>

						<ol>
							<li> <fb:login-button perms="email">Connect To Facebook</fb:login-button></li>
							<li>Choose friends in your network whom you'd like to be Friends with Benefits with</li>
							<li>If a friend chooses you back, you get notified. </li>
							<li>Use Keys to reveal their identities and take those relationships to the next level</li>
						</ol>

					</div>
-->					
				</div>
			</div>

			<div class='spacer-landing'>
			</div>

		<% else %>
<% content_for :header do %>
	<div id='header'>
		<%= render 'shared/account_nav' %>
	</div>
<% end %>
			<div id='intro-line'>
				<!--<span class='one'>Have a friend in mind you'd like to be FWB with,</span>-->
				<!--<span class='one'>Want to be FWB with a friend,</span>-->
				<span class='one'>Have someone you'd like to be FWB with,</span>
				<br/>
				<span class='two'>but not sure if they feel the same about you?</span>
				<br/>
				<span class='three'>We can help.</span>
			</div>


			<div id='how-it-works'>
				<div class='content'>

					<div class='title'>
						The Rules
					</div>
					<ol>
						<li>Pick friends you'd like to be FWB with - in secret.</li>
						<li>Send them 'Anonymous Invites' to get them to join the game. </li>
						<li>If any of them picks you back, you'll be notified.</li>
						<li>Use Keys to reveal their identities and take the relationships to the next level.</li>
						
					</ol>
						Picks are only visible to you, unless they pick you back - in which case they have the option to reveal your identity.


				</div>		
			
			<a href='#jump-to' id='play'><div id='play-btn'>Play</div></a>

			</div>
			<div class='spacer-1'>
			</div>
			<div id='jump-to'>
			</div>
			<div id='matches'>
				<div class='content'>
				</div>
				<%# image_tag 'fwb-logo-l.png', :id => 'matches-logo' %>
			</div>
			<%= render 'shared/purchase' %>

			<div id='what-are-keys'>
				<div id='what-are-keys-handle' class = 'handle'>
					<span class='title'>What are keys?</span>
				</div>
				<div id='what-are-keys-content' class='popup-content'>
					<p>Whenever we find a match for you (i.e. you and your friend both choose each other as a Friend with Benefits), your friend is placed in the 'Your Friends with Benefits' box.</p>
					<br/>
					<p>To reveal them, simply purchase Keys to unlock their identities.</p>
					<br/>
					<p>Keys will automatically be used to unlock any of your Friends with Benefits that have not yet been unlocked, any surplus is indicated by the number next to the Key icon.</p>
				</div>
			</div>
<!--

			<div id='invites'>
				
						
				<div class='invites-count'>
					You have <span class='invites-left'><%#= pluralize(current_hunter.invites, 'anonymous invite')%></span> left.
				</div>
			
				
					<%#= link_to "What's this?", '#', :id => 'what-are-invites-link' %>

				
					<a href="#"><div id='invite-btn'>Invite a Friend</div></a>
				
			</div>

			<div id='what-are-invites'>
				<div id='what-are-invites-handle' class = 'handle'>
					<span class='title'>What are anonymous invites?</span>

					
					<%# cross = image_tag 'close-icon.png', :width => '22px'%>
					<%#= link_to cross, '#', :id => 'what-are-invites-close',:class => 'close-icon' %>	
					
						
				</div>
				<div id='what-are-invites-content' class='popup-content'>
					<p>The more friends you can get to use friends-with-benefits.me, the higher the chance of you getting chosen.</p>
					<br />
					<p>An anonymous invite allows you to send an email invitation to your friends asking them to join friends-with-benefits.me without exposing your identity, so they will never know who invited them.</p>
					<br/>		
					<p>Send them an anonymous invitation to join friends-with-benefits.me now!</p>
				</div>
			</div>
-->
			<div id='invite-box'>
				<div id='invite-form'>
					<div id='invite-handle' class = 'handle'>
						<span class='title'>Invite a friend anonymously</span>		
					</div>
					<div id='invite-content' class='popup-content'>

						<%= form_tag invite_path, :remote => true do %>
					
							<%= label_tag :name, "Your friend's name"%><br />
							<%= text_field_tag :name %><br />

							<%= label_tag :email, "Your friend's email" %><br />
							<%= text_field_tag :email %><br />

							<p>*Names and emails are used for this one-time purpose only and they will not be stored.</p>

							<div class='actions'>
								<%= submit_tag 'Send', :id => 'invite-btn-submit'%>
								<%= link_to 'View Sample', '#', :id => 'view-sample-email-link' %>
							</div>						


						<% end %>

					</div>
				</div>
				<div id='sample-email'>
					<div id='invite-handle' class = 'handle'>
						<span class='title'>Sample Email</span>
					</div>

					<p>Hey (Name),</p>
					<br/>
					<p>One of your Facebook friends has invited you to play <em>The Friends with Benefits Game</em>!</p>
					<br/>
					<p>Play it on fwb-game.com.</p>
					<br/>
					<p id='signature'><em>The FWB-Game Team</em></p>

				<%= link_to 'Back', '#', :id => 'view-invite-form-link'%>				
				</div>
			</div>


			<div class='highlight'>
			</div>

			<div class='friends-header'>
				<span>Show:</span>
				<a href='#' class='show-all-btn'>All Friends</a>
				<span> | </span>
				<a href='#' class='show-selected-btn'>Selected Friends Only</a>	
				<% fb_share2 = image_tag 'fb_share2.png', :width => '200', :id => 'fb-share2' %>	

			<a href="#"><div id='invite-btn'>Send an Anonymous Invite</div></a>

			</div>
					
			<div id='friends'>
			</div>

			<div id='targets'>
			</div>

			<div class='spacer'>
			</div>

		<% end %>



