	<div id='curtain'>
	</div>

	<div id='content'>

		<% if !signed_in? %>
			<div id = 'landing'>
				<div id='tagline'>
					<!--Find out which of your friends wants you to be more than just a friend!-->
					Some friends are more than just friends.
				</div>
				<div class='content'>
<!--					
					<div class='img'>
						<%# image_tag 'fwb-logo-red.png', :width => '360'%>
					</div>

-->	
					<div id = 'how-it-works-landing'>
						<div class='title'>
							How It Works:
						</div>	

<!--
						<ol>
							
							<li> <fb:login-button perms="email">Connect To Facebook</fb:login-button></li>
							<li>Pick friends in your network whom you'd be interested in being 'friends with benefits' with</li>
							<li>If a friend picks you back, we will send you both an email.  Your picks will never be revealed otherwise</li>
						</ol>
-->
						<ol>
							<li> <fb:login-button perms="email">Connect To Facebook</fb:login-button></li>
							<li>Choose friends in your network whom you'd like to be Friends with Benefits with</li>
							<li>If a friend chooses you back, you get notified. </li>
							<li>Use Keys to reveal their identities and take those relationships to the next level</li>
						</ol>

					</div>
					
				</div>
			</div>

			<div class='spacer-landing'>
			</div>
		<% else %>
			<div id='how-it-works'>
				<div class='content'>
					<div class='title'>
						How It Works
					</div>
					<ol>
						<li>Choose friends in your network whom you'd like to be Friends with Benefits with.</li>
						<li>If your friends choose you back, they will show up in the 'Your Friends with Benefits' box. </li>
						<li>Use Keys to reveal their identities and take those relationships to the next level</li>
					</ol>
				</div>		
			</div>


			<div id='matches'>
				<div class='content'>
				</div>
				<%= image_tag 'fwb-logo-l.png', :id => 'matches-logo' %>
			</div>
			<%= render 'shared/purchase' %>

			<div id='what-are-keys'>
				<div id='what-are-keys-handle' class = 'handle'>
				<span class='title'>What are keys?</span>
					<% cross = image_tag 'close-icon.png', :width => '22px'%>
					<%= link_to cross, '#', :id => 'what-are-keys-close',:class => 'close-icon' %>	
				</div>
				<div id='what-are-keys-content' class='popup-content'>
					<p>Whenever we find a match for you (i.e. you and your friend both choose each other as a Friend with Benefits), your friend is placed in the 'Your Friends with Benefits' box.</p>
					<br/>
					<p>To reveal them, simply purchase Keys to unlock their identities.</p>
				</div>
			</div>


			<div id='invites'>			
				<% invite_btn = image_tag 'invite-btn.png' %>
				<%= link_to invite_btn, '#', :id => 'invite-btn' %>
				<div class='invites-count'>
					You have <span class='invites-left'><%= pluralize(current_hunter.invites, 'anonymous invite')%></span> left.
				</div>
				<%= link_to "What's this?", '#', :id => 'what-are-invites-link' %>
			</div>

			<div id='what-are-invites'>
				<div id='what-are-invites-handle' class = 'handle'>
				<span class='title'>What are anonymous invites?</span>
					<% cross = image_tag 'close-icon.png', :width => '22px'%>
					<%= link_to cross, '#', :id => 'what-are-invites-close',:class => 'close-icon' %>	
				</div>
				<div id='what-are-invites-content' class='popup-content'>
					<p>The more friends you can get to use friends-with-benefits.me, the higher the chance of you getting chosen.</p>
					<br />
					<p>An anonymous invite allows you to send an email invitation to your friends asking them to join friends-with-benefits.me without exposing your identity, so they will never know who invited them.</p>
					<br/>		
					<p>Send them an anonymous invitation to join friends-with-benefits.me now!</p>
				</div>
			</div>

			<div id='invite-form'>
				<div id='invite-handle' class = 'handle'>
				<span class='title'>Invite a friend anonymously</span>
					<% cross = image_tag 'close-icon.png', :width => '22px'%>
					<%= link_to cross, '#', :id => 'invite-close',:class => 'close-icon' %>					

				</div>
				<div id='invite-content' class='popup-content'>

					<%= form_tag invite_path, :remote => true do %>
					
						<%= label_tag :name, "Your friend's name"%><br />
						<%= text_field_tag :name %><br />

						<%= label_tag :email, "Your friend's email" %><br />
						<%= text_field_tag :email %><br />

						<p>*Names and emails are used for this one-time purpose only and they will not be stored.</p>
						<%= submit_tag 'Send', :id => 'invite-btn-submit'%>
					<% end %>
				</div>
			</div>


			<div class='highlight'>
			</div>

			<div class='friends-header'>
				<span>Show:</span>
				<a href='#' class='show-all-btn'>All Friends</a>
				<span> | </span>
				<a href='#' class='show-selected-btn'>Selected Friends Only</a>	
				<% fb_share2 = image_tag 'fb_share2.png', :width => '200', :id => 'fb-share2' %>	
			<!--	<span class='fb-share2'><a href='http://www.facebook.com/dialog/feed?app_id=202763786417566&link=http://friends-with-benefits.me&picture=http://friends-with-benefits.me/images/fwb-icon.png&name=Friends%20with%20Benefits&caption=Friends-with-Benefits.me&description=Find%20out%20which%20of%20your%20friends%20wants%20you%20to%20be%20more%20than%20just%20a%20friend!&redirect_uri=http://friends-with-benefits.me'>Share this app</a> with your friends to see if they pick you back!</span> -->
			</div>
			
		
			<div id='friends'>
			</div>

			<div id='targets'>
			</div>

			<div class='spacer'>
			</div>

		<% end %>
	</div>


