<!DOCTYPE html>
<html>
<head>
  <title>FriendswithBenefits.me</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render 'shared/facebook_init' %>
  <%= javascript_include_tag 'ga' %>
   <link rel="shortcut icon" href="/images/favicon.ico" >
   <!--link rel="icon" type="image/gif" href="/images/animated_favicon1.gif" -->

</head>
<body>
<div id='header'>
<%= render 'shared/account_nav' %>
</div>
<div id='wrapper'>
<%= yield %>
</div>
<div class='spacer'>
</div>
<div id='footer'>
<%= render 'shared/footer'%>
</div>
</body>
<%= javascript_include_tag 'facebook-init' %>
<%= javascript_include_tag 'uservoice' %>
</html>
